body {font-family: cursive; background-color: cornsilk; background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTveZArlBzYZKuwNlVSrV7qpJbQ8YTuxVuoj5tU1dOJl33TXdtcRKZdOPQ&s=10")}

h1 {color: azure;}
h2 {color: azure;}
p {color: azure;}

img {width: 400px; height: 400px;}  
